 
<div class="dsc-navigation">
    <div>
      <a href="/">
          <img
            className="h-20 w-auto sm:h-10 hidden sm:block"
            src='https://a.storyblok.com/f/88751/251x53/0d3909fe96/storyblok-primary.png'
            alt="Storyblok"
          />
      </a>
    </div>
    <div>
      <div>
        <a href="/about" lassName="text-base font-medium text-gray-500 hover:text-gray-900">About</a>
      </div>
      <div>
        <a href="/blog" className="text-base font-medium text-gray-500 hover:text-gray-900">Blog</a>
      </div>
      <div>
        <a href="/services" className="text-base font-medium text-gray-500 hover:text-gray-900">Services</a>
      </div>
    </div>
  </div>